
<footer>
  <div>
    <p>Universidade Federal da Bahia (UFBA) - Av. Adhemar de Barros, s/n - Ondina, Salvador - BA, 40170-110</p>
    <p id="noosfero-footer-info">
      Esta rede social usa <a href="http://noosfero.org">Noosfero</a>,
      desenvolvido pela comunidade Noosfero e licenciado sob a
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a>
      versão 3 ou superior.
    </p>
  </div>
</footer>
