<body>
 <div class="jumbotron">
    <img src="/designs/themes/colabora-ceao/images/flor2.png" alt="" id="oriental">
     <img src="/designs/themes/colabora-ceao/images/colaboraceaofonte.png" alt="" id="fonte">
     
     <div id="tarja2"></div>
     
  <!-- <div class="container">
  </div> -->
</div>
<div class="nav">
    <ul id="menu">
      <li><%= link_to "Início", "#{top_url}/#{profile.identifier}/"%></li>
         <li><%= link_to "Sobre", "#{top_url}/#{profile.identifier}/sobre"%></li>
         <li><%= link_to "CEAO", "#{top_url}/#{profile.identifier}/ceao"%></li>
          <li><%= link_to "Outros projetos", "#{top_url}/#{profile.identifier}/projetos"%></li>
    </ul>    
 </div>
</body>
