#profile-ufba-header-content
  max-width: 940px
  margin: auto
  padding-top: 50px
  position: relative
  font-family: Barbara
  color: #FFF
  text-shadow: 0 0 10px #000

#profile-pic
  display: block
  width: 200px
  height: 200px
  background-size: cover
  background-position: 50% 40%
  border-radius: 10px

&.Person #profile-pic
  border-radius: 100px
  box-shadow: 2px 2px 20px rgba(0,0,0,0.8)

#profile-type
  position: absolute
  top: 50px
  left: 230px
  font-size: 22px
  color: rgba(255,255,255,0.8)

h1
  position: absolute
  top: 70px
  left: 230px
  font-size: 66px
  line-height: 1em

#profile-kinds
  position: absolute
  top: 190px
  left: 230px
  font-size: 22px
  line-height: 1em
