//&{
//  .jumbotron{
//    background-image: url("https://drive.google.com/file/d/1uVtyy1SEx9iJR5IDGQMWAszQC04RGN6J/view");
//    height: 250px;
//    background-attachment: fixed;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//  }
//}